doctype html
html
    head
        title Natours | #{title}
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
    body
        // Header
        include _header
      
        // Content
        block content 
            h1 This is the base    

        // Footer
        include _footer